<!--<!DOCTYPE html>-->
<!--<html lang="ja" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>商品管理画面</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/product_style.css}">-->
<!--</head>-->
<!--<body>-->
<!--<h1>商品管理画面</h1>-->
<!--<table border="1">-->


<!--    <p>商品名：<input type="text" id="name"></p>-->
<!--    <div id="error_name"></div>-->

<!--    <p>値段 ：<input type="text" id="price"></p>-->
<!--    <div id="error_price"></div>-->

<!--    <p><button type="button" onclick="product_add()">追加</button></p>-->
<!--    <span id="productId" ></span>-->
<!--    <div id="text" ></div>-->
<!--    <input type="radio" onclick="row_click()" />-->

<!--</table>-->
<!--<script th:src="@{/js/product_script.js}"></script>-->

<!--</body>-->
<!--</html>-->