<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品情報更新</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>商品情報更新</h1>

    <form th:action="@{{id}(id=${productId.id()})}" method="post" th:object="${updateProductForm}">

        <p>id：[[ ${productId.id()} ]]</p>
        <p>商品名：<input type="text" th:field="*{updateProductName}" ></p>
        <div class="error" th:each="error: ${#fields.errors('updateProductName')}">
            [[ ${error} ]]
        </div>

        <p>値段：<input type="text" th:field="*{updateProductPrice}"></p>
        <div class="error" th:each="error: ${#fields.errors('updateProductPrice')}">
            [[ ${error} ]]
        </div>

        <p><button type="submit">更新</button></p>
    </form>

</body>
</html>